
a {
    text-decoration: none;
    color: #efefef;
  }
  a:visited {
    text-decoration: none;
    text-emphasis-color: #6b6b6b;
  }
  a:hover {
    text-decoration:none;
    color: #efefef;
  }
  .chat-message{
    background-color:#f7f7f8;
  }
  .user-message{
    background-color:#ffffff;
  }
  .chat-new-bg {
    background-color: #202123;
    font-size: 14px;
  }
  .chat-new-bg:hover {
    background-color: #2b2c2f;
    font-size: 14px;
  }
  .chat-bg {
    background-color: #343541;
    font-size: 14px;
  }
  .chat-bg:hover {
    background-color: #3b3c4f;
    font-size: 14px;
  }
  .tools-bg {
    background-color: #212529;
    font-size: 14px;
  }
  .tools-bg:hover {
    background-color: #2b2c2f;
    font-size: 14px;
  }
  .toolbar {
    z-index:9999;
  }